@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 480px) {
    .timer-button{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}
